<h1>User: <%= @user.login %></h1>

<%= show_attribute @user, 'login' %>
<%= show_attribute @user, 'name' %>
<%= show_attribute @user, 'email' %>
<%= show_attribute @user, 'holiday_allowance' %>
<%= show_attribute @user, 'holiday_remaining' %>
<%= show_attribute @user, 'sick_day_allowance' %>
<%= show_attribute @user, 'sick_days_remaining' %>
<%= show_attribute @user, 'admin' %>
<%= show_attribute @user, 'flex_time' %>



<% content_for :menu do %>
  <%= menu_items(user_menu(@user)) %>
<% end %>