<% if current_user.is_admin? %>
  See flex time timeline for:
  <%= select_tag :user,
                 options_for_select(User.all.collect{|u| [u.name, u.id] },
                                    :selected => (@user ? @user.id : current_user.id )),
                 :onchange => "window.location = '/flexes/?user_id=' + $('#user option:selected').attr('value');" %>
<% end %>
<table class='timeline' >
  <thead>
    <tr>
      <th></th>
      <th>Time</th>
      <th>Total</th>
      <th style='width:150px;'>Comment</th>
      <th></th>
    </tr>
  </thead>
  <tbody class='current'>
    <% @flexes.each do |flex| %>
      <tr <%= "class='strike'" if flex.discarded %> >
        <td><%= flex.position %></td>
        <td><%= raw flex.show_time %></td>
        <td><%= raw flex.show_total_time %></td>
        <td><%= flex.comment%></td>
        <% if flex.discarded %>
          <td><%= link_to image_tag('/images/restore_button.png'), restore_flex_path(flex, :back_action => back_action)  %></td>
        <% else %>
          <td><%= link_to image_tag('/images/discard_button.png'), discard_flex_path(flex, :back_action => back_action)  %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  <tbody class=form>
    <% if @flex.errors.any? %>
      <tr style='background-color:red;'>
        <td colspan=5>
          <ul>
            <% @flex.errors.full_messages.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
    <tr>
      <% hr_form_for @flex do |form| %>
        <%= form.hidden_field :user_id %>
        <% if back_action %>
          <%= hidden_field_tag :back_action, back_action %>
        <% end %>

        <td></td>
        <td colspan=2 height=30 style='width:180px;' >
          <div style='float:left'><%= form.plusminus_check_box :positive %></div>
          <div style='margin-top:3px;width:120px'>
            <%= form.text_field :hours, :size => 1, :skip_label => true %>:<%= form.text_field :minutes, :size => 1, :skip_label => true %>
          </div>
        </td>
        <td ><%= form.text_field :comment, :size => 20, :skip_label => true %></td>
        <td><%= form.submit 'Record Flex' %></td>
      <% end %>
    </tr>
  </tbody>

</table>