<%= render "shared/error_messages", :target => @absence %>

<%= form.select :user_id, User.all(:order => 'name ASC').collect{|u| [u.name,u.id]} if current_user.is_admin? %>

<%= form.js_check_box :single_day, :on_click => 'switchTimeStyle();' %>

<div id='short_hol_form' style='display:none;'>
    <%= form.date_select :start_time,
                       :order => [:day, :month, :year],
                       :append=> form.select(:start_half_day, ['Full Day','Morning','Afternoon'],
                                             :skip_label => true),
                       :label => 'Absence Time' %>

</div>
<div id='long_hol_form'>
  <% end_select = form.select(:start_half_day, ['Full Day','Lunch Time'],
                                             :skip_label => true) %>
  <%= form.text_field :start_time, :append => end_select %>
  <%#= form.date_select :start_time,
                       :order => [:day, :month, :year],
                       :append=> form.select(:start_half_day, ['Full Day','Lunch Time'],
                                             :skip_label => true)  %>
  <%= form.date_select :end_time,
                       :order => [:day, :month, :year],
                       :append=> form.select(:end_half_day, ['Full Day','Lunch Time'],
                                             :skip_label => true)  %>
</div>
<%= form.select :variety, ['Holiday','Sick Days'] %>
<%= form.text_area :reason, :rows => 3 %>
<% if current_user.is_admin? %>
  <%= form.select :status, ['Approved','Declined','Pending'] %>
<% else  %>
  <%= form.hidden_field :user_id  %>
<% end %>


<script type='text/javascript'>
  $(function() {
    $( "#absence_start_time" ).datepicker({ altFormat: "yy-mm-dd" });
  });

  function switchTimeStyle(){
    $('#short_hol_form').toggle();
    $('#long_hol_form').toggle();
    $('select[name=not_start_half_day]').attr('name','placeholder');
    $('select[name="absence[start_half_day]"]').attr('name','not_start_half_day')
    $('select[name=placeholder]').attr('name','absence[start_half_day]')

  }
  if ($('#absence_single_day')[0].checked){
    $('#short_hol_form').show();
    $('#long_hol_form').hide();
    $('#long_hol_form p:nth-child(1) select#absence_start_half_day').attr('name', 'not_start_half_day');
  }
  else {
    $('#short_hol_form').hide();
    $('#short_hol_form p:nth-child(1) select#absence_start_half_day').attr('name', 'not_start_half_day');
    $('#long_hol_form').show();
  }
</script>