<% content_for :head do %>
  <%= stylesheet_link_tag '/stylesheets/fullcalendar.css'%>
  <%= javascript_include_tag '/javascripts/fullcalendar.min.js' %>
  <%= javascript_include_tag '/javascripts/gcal.js' %>
<% end %>


<script type='text/javascript'>

	$(document).ready(function() {


		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
                right: ''
			},

            eventSources: [{
                url: 'http://www.google.com/calendar/feeds/en.uk%23holiday%40group.v.calendar.google.com/public/basic',
                color: '#9999FF',
                textColor: 'black',
                ignoreTimezone: false
            },
            <% User.all.each do |user| %>
              {
                events: <%= user.absences.all_to_jquery %>,
                color: '<%= user.generated_colour %>',
                textColor: 'black',
                ignoreTimezone: false
              },
            <% end %>
            {
                events: <%= ExemptDay.all_to_jquery %>,
                color: '#FFCCCC',
                textColor: 'black',
                ignoreTimezone: false
            }
            ],
            firstDay: 1,
            selectable: true,
			selectHelper: true,
			select: function(start, end, allDay) {
              window.location = "/absences/new?start="+start+"&end="+end
            }
		});

	});

</script>
<h1>Absence Calendar</h1>
<p>Click and drag to book an absence.</p>
<div id='calendar'></div>

<% content_for :menu do %>
  <%= menu_items(absence_menu()) %>
<% end %>