<h1><%= @absence.variety %>:<%= @absence.show_times %></h1>

<%= show_exact 'User', @absence.user.name %>
<%= show_attribute @absence, 'start_time' %>
<%= show_attribute @absence, 'end_time' %>
<%= show_attribute @absence, 'days' %>
<%= show_attribute @absence, 'reason' %>
<%= show_attribute @absence, 'status' %>

<% if current_user.is_admin? %>
  <% if @absence.status == 'Pending' and current_user == @absence.line_manager %>
    <%= link_to image_tag('approve_button.png'),
                approve_absence_path(@absence),
                :confirm => @absence.approve_confirm_message %>
    <%= link_to image_tag('decline_button.png'),
                decline_absence_path(@absence),
                :confirm => @absence.decline_confirm_message %>
  <% else %>
    <p style="color:red;">This absence is pending approval from <b><%= @absence.line_manager.name%></b>.</p>
  <% end %>
<% end %>

<% content_for :menu do %>
  <%= menu_items(absence_menu(@absence)) %>
<% end %>