<h1>Listing Exempt Days</h1>
<p>
  Exempt days are bank holidays and other days which you don't consider to require a day of holiday for employees to be
  absent (except weekends, Saturdays and Sundays are not counted). You can find the Uk bank holidays at
  <a href="https://www.gov.uk/bank-holidays">the UK government website</a>, if you talk to a ruby developer nicely they
  may even add it to the db/seeds.rb file, so you don't have to input them manually.
</p>


<table>
  <tr>
    <th>Name</th>
    <th>Day</th>
    <th></th>
    <th></th>
  </tr>

<% @exempt_days.each do |exempt_day| %>
  <tr>
    <td><%= exempt_day.name %></td>
    <td><%= exempt_day.day %></td>
    <td><%= link_to 'Edit', edit_exempt_day_path(exempt_day) %></td>
    <td><%= link_to 'Destroy', exempt_day, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<% content_for :menu do %>
  <%= menu_items(exempt_day_menu()) %>
<% end %>