<h1>Listing Exempt Days</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Day</th>
    <th></th>
    <th></th>
  </tr>

<% @exempt_days.each do |exempt_day| %>
  <tr>
    <td><%= exempt_day.name %></td>
    <td><%= exempt_day.day %></td>
    <td><%= link_to 'Edit', edit_exempt_day_path(exempt_day) %></td>
    <td><%= link_to 'Destroy', exempt_day, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<% content_for :menu do %>
  <%= menu_items(exempt_day_menu()) %>
<% end %>