<!DOCTYPE html>
<html>
<head>
  <title>HR-Keep It Simple, Stupid!</title>
  <%= stylesheet_link_tag    'main' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="app_menu">
    <% if current_user %>
      <% if  current_user.is_admin? %>
        <h4>Admin Menu</h4>
        <%= link_to 'Manage Users', admin_users_path %>
        <%= link_to 'New User', new_admin_user_path %>
      <% end %>
      <% link_to 'My Profile', user_path(current_user) %>
    <% else %><!-- No user logged in -->
      <%= link_to 'Log in', login_path %>
    <% end %>
  </div>
 
  <div id='controller_menu'>
    <%= yield :menu %>
  </div>

  <!--
  <div id='debug_menu'>
    <h4>Debugging Stuff</h4>
    Current user: <%= current_user.inspect %>
  </div>
  -->

  <%= yield %>

</body>
</html>
